In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [7]:
df = pd.read_csv('creditcard.csv')

In [8]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [9]:
# data information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [11]:
# lets check if there are any missing values
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [13]:
# lets check the distribution of normal transactions and fraud transactions
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [15]:
# it is clear that this dataset is very unbalanced
# 0 represents normal transactions and 1 represents a fraudulent transaction
# we have to seperate the data for analysis

legit = df[df.Class==0]
fraud = df[df.Class==1]

In [18]:
# statistics for the data

legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [19]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [21]:
#compare the values for both transactions

df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [22]:
# we will use undersampling
# we will build a sample dataset containing a similar distribution of normal transaction and fraud transactions

legit_sample = legit.sample(n=492)

In [23]:
# Now we concatinate the two dataframes

new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [24]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
272709,165227.0,0.250110,0.828038,-2.086564,0.169026,2.878201,4.166736,-0.673726,-1.897615,-0.954947,...,-1.186343,0.633209,-0.086651,0.709929,0.991904,-0.279401,0.157945,0.280914,33.51,0
55542,47001.0,1.311775,0.408747,-1.327762,0.315615,1.071630,0.292047,0.096931,0.158741,-0.097595,...,-0.204525,-0.593245,-0.262951,-1.861250,0.650532,0.493076,-0.029546,0.008716,0.76,0
207976,136919.0,-0.231711,0.695425,-0.238672,-2.284370,0.143452,-1.579266,1.119083,-0.558285,0.871127,...,0.430070,1.306798,-0.257305,0.125406,-0.490105,-0.106624,-0.186188,0.205595,25.33,0
192577,129762.0,2.147759,-0.850804,-1.550690,-1.507505,-0.672569,-1.506874,-0.143056,-0.470593,0.381570,...,-0.055402,0.472688,-0.031334,-0.122919,0.348257,-0.815299,0.060547,-0.041162,41.72,0
257872,158381.0,-0.850159,0.186698,1.625300,-1.710195,-1.375681,-0.357053,-0.520395,0.509697,-0.550434,...,-0.201439,-0.282928,0.047106,0.005051,-0.651166,0.371518,-0.122803,0.080015,38.88,0

In [25]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [26]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93445.323171,0.079005,-0.086594,0.127524,-0.001454,-0.019348,0.033844,-0.032749,-0.008773,0.034546,...,-0.021795,0.013701,0.064849,0.060004,-0.041576,0.001856,0.016103,0.020395,-0.009884,85.931301
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [27]:
# now we split the dataset into features and targets

X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [28]:
# now we split the data into training and testing set.

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
272709,165227.0,0.250110,0.828038,-2.086564,0.169026,2.878201,4.166736,-0.673726,-1.897615,-0.954947,...,0.678140,-1.186343,0.633209,-0.086651,0.709929,0.991904,-0.279401,0.157945,0.280914,33.51
55542,47001.0,1.311775,0.408747,-1.327762,0.315615,1.071630,0.292047,0.096931,0.158741,-0.097595,...,-0.125700,-0.204525,-0.593245,-0.262951,-1.861250,0.650532,0.493076,-0.029546,0.008716,0.76
207976,136919.0,-0.231711,0.695425,-0.238672,-2.284370,0.143452,-1.579266,1.119083,-0.558285,0.871127,...,-0.162335,0.430070,1.306798,-0.257305,0.125406,-0.490105,-0.106624,-0.186188,0.205595,25.33
192577,129762.0,2.147759,-0.850804,-1.550690,-1.507505,-0.672569,-1.506874,-0.143056,-0.470593,0.381570,...,-0.569849,-0.055402,0.472688,-0.031334,-0.122919,0.348257,-0.815299,0.060547,-0.041162,41.72
257872,158381.0,-0.850159,0.186698,1.625300,-1.710195,-1.375681,-0.357053,-0.520395,0.509697,-0.550434,...,-0.736300,-0.201439,-0.282928,0.047106,0.005051,-0.651166,0.371518,-0.122803,0.080015,38.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [29]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [30]:
# Now we train the model using Logistic regression

model = LogisticRegression()

In [31]:
model.fit(X_train, Y_train)

LogisticRegression()

In [34]:
# Now lets evaluate the model
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [35]:
training_data_accuracy

0.9326556543837357

In [ ]:
# the accuracy scor